<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GradingCommentary.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="GradingCommentary.Settings.ExcelConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;{0}&quot;;Extended Properties=&quot;Excel 12.0 Xml;HDR=YES;IMEX=1;ImportMixedTypes=TEXT&quot;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <applicationSettings>
    <GradingCommentary.Settings>
      <setting name="ProblemsSheetName" serializeAs="String">
        <value>Problems</value>
      </setting>
      <setting name="StudentsSheetName" serializeAs="String">
        <value>Students</value>
      </setting>
      <setting name="DisplayTypeField" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>rubric</string>
            <string>display</string>
            <string>rubrics</string>
            <string>displays</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ProblemSeparator" serializeAs="String">
        <value>#</value>
      </setting>
      <setting name="IdField" serializeAs="String">
        <value>ID</value>
      </setting>
      <setting name="TotalField" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Total</string>
            <string>Points</string>
            <string>Point</string>
            <string>Pts</string>
            <string>Pt</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DescriptionField" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Description</string>
            <string>Descriptions</string>
            <string>Reference</string>
            <string>References</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CommentHeader" serializeAs="String">
        <value>Feedback to Learner</value>
      </setting>
      <setting name="CommentFormatHeader" serializeAs="String">
        <value>Feedback Format</value>
      </setting>
      <setting name="CommentFormat" serializeAs="String">
        <value>HTML</value>
      </setting>
      <setting name="Note" serializeAs="String">
        <value>Note</value>
      </setting>
      <setting name="Total" serializeAs="String">
        <value>Total</value>
      </setting>
      <setting name="Display" serializeAs="Xml">
        <value>
          <Display xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DisplaySetting Name="Table" Default="true">
              <Header>&lt;b&gt;Raw score:&lt;/b&gt; {0}.&lt;table&gt;&lt;tr&gt;&lt;th&gt;No.&lt;/th&gt;&lt;th&gt;Points&lt;/th&gt;&lt;th&gt;{1}&lt;/th&gt;&lt;th&gt;&lt;/th&gt;&lt;/tr&gt;</Header>
              <Footer>&lt;/table&gt;</Footer>
              <RatioBody>&lt;tr style="vertical-align:top"&gt;&lt;th&gt;{0}&lt;/th&gt;&lt;td&gt;{1}&lt;/td&gt;&lt;td&gt;{3}&lt;/td&gt;&lt;td&gt;&lt;i&gt;{2:0.##%} of the score.&lt;/i&gt; &lt;code&gt;{4}&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;</RatioBody>
              <Body>&lt;tr style="vertical-align:top"&gt;&lt;th&gt;{0}&lt;/th&gt;&lt;td&gt;{1}&lt;/td&gt;&lt;td&gt;{3}&lt;/td&gt;&lt;td&gt;&lt;code&gt;{4}&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;</Body>
              <Note>&lt;tr style="vertical-align:top"&gt;&lt;th&gt;{0}&lt;/th&gt;&lt;td colspan="3"&gt;{1}&lt;/td&gt;&lt;/tr&gt;</Note>
            </DisplaySetting>
            <DisplaySetting Name="Inline" Default="false">
              <Header>&lt;p style="{2}"&gt;&lt;b&gt;Raw score:&lt;/b&gt; {0}. &lt;b&gt;{1}:&lt;/b&gt;&lt;br /&gt;</Header>
              <Footer>&lt;/p&gt;</Footer>
              <RatioBody>&lt;b&gt;&lt;u&gt;[{0}]&lt;/u&gt;:&lt;/b&gt; {1} penalty, or &lt;i&gt;{2:0.##%} of the score&lt;/i&gt;. ({3}). &lt;code&gt;{4}&lt;/code&gt;</RatioBody>
              <Body>&lt;b&gt;&lt;u&gt;[{0}]&lt;/u&gt;:&lt;/b&gt; {1} ({3}). &lt;code&gt;{4}&lt;/code&gt;</Body>
              <Note>&lt;b&gt;&lt;u&gt;[{0}]&lt;/u&gt;:&lt;/b&gt;. {2}</Note>
            </DisplaySetting>
          </Display>
        </value>
      </setting>
    </GradingCommentary.Settings>
  </applicationSettings>
</configuration>
